{{>adminHeader}}
<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Table</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheets" type="text/stylesheets" href="/stylesheets/adminuserlist.css">
</head>

<body>
  <div class="container">
    <div class="table-container">
      
      <h1>User Table</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>

            <th>Action</th>
          </tr>
        </thead>



        <tbody>
          {{#each users}}
          <tr>

            <td>{{this.name}}</td>
            <td>{{this.email}}</td>

            <td>


              {{#if this.is_blocked }}
              <form action="/admin/users/block?id={{this._id}}" method="post">
                 <button type="submit" class="btn btn-delete">UnBlock</button>
              </form>
              {{else}}
            
              <form action="/admin/users/block?id={{this._id}}" method="post">
                <button type="submit" class="btn btn-delete">Block</button>
              </form>
              {{/if}}

            </td>

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/js/bootstrap.min.js"></script>



</body>

</html>

